#grid-floats img {
    transition: transform 2s ease-in-out 20ms;
    
}

#grid-floats img:hover {
    transform: translate(2000px, -1500px) rotate(-35deg);
}

@keyframes body {
    0% {
        width: 40%;
    }
   
    100% {
        width: 100%; 
    }
} 

#grid-flex img {
    position: relative;
    animation-name: bzz;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;

}

@keyframes bzz{
    0% {
        transform: translate(40px) rotate(-7deg);
    }
    100% {
        transform: translate(-40px) rotate(7deg);
    }
}